.homeHero {
  width: 100%;
  height: calc(100vh - 25px);
  display: flex;
  position: relative;

  .backgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 0;

    img {
      width: 827px;
      height: 827px;
      opacity: 0.6;
    }
  }

  .left {
    position: relative;
    z-index: 1;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // padding-left: 100px;

    .title {
      font-size: 70px;
      font-weight: bold;
    }

    .text {
      font-size: 25px;
      margin-bottom: 20px;

      .colored {
        color: #f45b69;
      }
    }

    .readmoreButton {
      width: 180px;
      .lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        .long {
          height: 45px;
          width: 1px;
          background-color: #707070;
          margin-bottom: 10px;
        }

        .short {
          height: 13px;
          width: 1px;
          background-color: #707070;
        }
      }

      button {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        padding: 8px 40px;
        font-size: 20px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #f45b69;
          border-color: #f45b69;
        }
      }
    }
  }
}
